object {
  position: absolute;
  left: -9000px;
  top: -9000px;
}

html {
  font-family: Helvetica, arial, sans-serif;
}

h3 {
  font-family: monospace;
}
h3:first-child {
  margin-top: 0;
}

#ot {
  position: absolute;
  left: 320px;
  width: 360px;
  padding: 20px;
  font-family: monospace;
  word-wrap: break-word;
}

.op {
  margin-bottom: 0.5em;
}

#doc {
  height: 300px;
  overflow-y: auto;
}

#ops {
  height: 200px;
  overflow-y: auto;
}

#chat {
  position: absolute;
  left: 0px;
  padding: 20px;
  font-family: monospace;
  width: 300px;
}
#chat input {
  font-size: inherit;
  font-family: inherit;
  width: 100%;
  margin-top: 5px;
}

#messages {
  display: block;
  height: 400px;
  overflow-y: auto;
}

.message {
  margin-top: 5px;
}
.message .user {
  display: inline;
  margin-right: 0.8em;
  font-weight: bold;
}
.message .text {
  display: inline;
}
